<section id="about" class="container">
    <h3 class="section--header">About</h3>
    <img
      class="headshot shadow"
      src="/assets/images/me_cp.png"
      alt="First Lastname"
    />
    <p class="bio">
      Tested and team oriented Javascript Developer with passion for
      robust high quality software. Identified and resolved development
      inefficiencies at Cinchapi by introducing a core library for code
      reuse in addition to championing a test driven development cycle. A
      self starter proven with the ability to efficiently and creatively
      solve problems.
    </p>
  </section>