<footer>
  <section id="contact" class="fw">
    <ul class="center-block">
      <li><a href="mailto:hello@coreyburkhart.com" class="color-grey-dark"><i class="fas fa-envelope color-blue"></i>hello@coreyburkhart.com</a></li>
      <li><a class="color-grey-dark" href="http://www.linkedin.com/in/corey-burkhart-4859a6123" target="_blank"><i
            class="fab fa-linkedin color-blue"></i>LinkedIn</a></li>
      <li><a class="color-grey-dark" href="https://goo.gl/maps/3kvSeSAjCEB2" target="_blank"><i class="fas fa-map-marker-alt color-blue"></i>San
          Diego, California</a></li>
    </ul>
  </section>
</footer>