<header>
  <nav>
    <ul class="fw">
      <li><a href="/#about" class="color-blue">About</a></li>
      <li><a href="/section/test.html">Test</a></li>
      <li><a href="#contact" class="color-blue">Contact</a></li>
    </ul>
  </nav>
</header>
