<header>
  <nav>
    <ul class="fw">
      <li><a href="#about" class="color-blue">About</a></li>
      <li class="removed"><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact" class="color-blue">Contact</a></li>
    </ul>
  </nav>
</header>
