<div class="title-section">
  <div class="image">
    <div class="image-filter"></div>
    <div class="name-conatiner">
      <h1 class="name">Corey Burkhart</h1><br>
      <h2 class="title">JavaScript Developer</h2>
    </div>
  </div>
</div>
