<!-- <nav>
  <ul class="fw">
    <li>
      <a class="hover--underline" href="/#about" class="color-blue">About</a>
    </li>
    <li><a class="hover--underline" href="/section/test.html">Test</a></li>
    <li>
      <a class="hover--underline" href="#contact" class="color-blue">Contact</a>
    </li>
  </ul>
</nav> -->
