<section id="portfolio">
  <div class="container full-width">
    <h3 class="section--header inverted--header">Portfolio</h3>
    <div class="cards">
      <div class="card shadow">
        <h6 class="accent--header">Project</h6>
        <h4 class="section--header card--header">Todo List</h4>
        <p class="card__info">
          An implementation of the importance based todo list from Steven
          Covey's <i>7 Habits of Highly Effective People</i>. Sections and todos
          are movable.
        </p>
        <div class="card__footer">
          <div class="tech-tag-container">
            <a href="https://reactjs.org/" class="tech-tag" target="_blank">
              <img
                class="brand__icon"
                src="/assets/images/brands/react.svg"
                alt="React library logo"
              /><span class="brand__text">React</span></a
            >
            <a href="https://redux.js.org/" class="tech-tag" target="_blank">
              <img
                class="brand__icon"
                src="/assets/images/brands/redux.svg"
                alt="React library logo"
              /><span class="brand__text">Redux</span>
            </a>
          </div>
          <div class="card-actions-container">
            <a
              href="http://todo.coreyburkhart.com"
              target="_blank"
              class="button button-small button-accent"
              >View</a
            ><a
              href="https://github.com/CoreyBurkhart/prioritizely-frontend"
              target="_blank"
              class="button button-small"
              >Code</a
            >
          </div>
        </div>
      </div>
      <div class="card shadow">
        <h6 class="accent--header">Project</h6>
        <h4 class="section--header card--header">This Website</h4>
        <p class="card__info">
          Two things… This is not a template site, and I am not a web designer.
          I built this website myself to showcase my best possible web design
          work, and to showcase web fundamental knowledge. So behold! My (lack
          of) design prowess! Cool, now that we’re on the same page, there there
          are many small but foundational details that go into web development
          before any JavaScript is written. General organization, semantic HTML,
          BEM styling, search engine optimization, accessibility,
          responsiveness, deployment, and many more are all individually
          important. I take pride in my solid foundation of understanding in web
          fundamentals of which JavaScript enhances.
        </p>
        <div class="card__footer">
          <div class="tech-tag-container">
            <a
              href="https://en.wikipedia.org/wiki/HTML5"
              class="tech-tag"
              target="_blank"
            >
              <img
                class="brand__icon"
                src="/assets/images/brands/html5.svg"
                alt="HTML5 logo"
              /><span class="brand__text">HTML5</span></a
            >
            <a href="https://sass-lang.com/" class="tech-tag" target="_blank">
              <img
                class="brand__icon"
                src="/assets/images/brands/sass-1.svg"
                alt="Syntactically Awesome StyleSheets CSS extention language logo"
              /><span class="brand__text">Sass</span>
            </a>
          </div>
          <div class="card-actions-container">
            <a
              href="/"
              target="_blank"
              class="button button-small button-accent disabled"
              >View</a
            ><a
              href="https://github.com/CoreyBurkhart/personal-site"
              target="_blank"
              class="button button-small"
              >Code</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
