# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production

# misc
.DS_Store
.env
npm-debug.log
.sass-cache
assets/css/index.css

# only need index.html when deployed to github pages
# for development see/use server.js
index.html
section