/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
NORMALIZATION AND THEMES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, .about-p {
  font-family: 'Raleway', sans-serif;
  color: rgb(82, 85, 82);
}

.layout {
  min-height: 100vh;
  position: relative;
  
}

#about-intro, #contact {
    min-height: 60vh;
}

a, a i, #hire-button {
  -o-transition: .5s;
  -ms-transition:.5s;
  -moz-transition: .5s;
  -webkit-transition:.5s;
  transition: .5s;
}


#landing-button {
  border-radius: .5em;
  border-width: .2rem;
  font-weight: 700;
}





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
LANDING
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.landing {
  background: url("me-landing.jpg"), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h1 {
  font-size: 5rem;
  padding: 2rem 0 0 .7rem;
  text-align: left;
  color: black; 
  border-radius: 1rem; 
}

.arrow-button {
  
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
  width: 12rem;
  margin: 5% auto;
  text-align: center; /*aligns the <p> in the button horizontal axis */
  vertical-align: middle; /*aligns the <p> in the button vertical axis */
}

.arrow-button p {
  display: inline; /* must be inline for vertical center */
  font-size: 1.2rem;
  margin: auto 0;
  
}

.arrow-button i{
  display: inline;
  margin: auto 1rem auto 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ABOUT ME
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#heart {
  font-size: 5rem;
  color: #42adda;
  margin: 0 .4rem 0 0;
}

#about-intro {
  margin: 2rem .4rem;
}


.about-p {
  margin: .5rem auto 0 auto;  /* top right bottom left */ 
  background-color: rgba(229,229,229, .5);
  border-radius: .5rem;
  padding: 1rem;
}

.list-header {
  margin: 3rem 0 1rem 0;
  border-bottom: thick solid #42adda;
  padding-bottom: .4rem;
}

ul {
  column-count: 1;
  list-style: none;
  fill: green;
  font-size: .6rem;
  
}

ul i {
  color: #3adb76;
  margin-right: 5%;
}

.list h2 {
  font-size: 1rem;
  border-bottom: thin solid rgb(82, 85, 82);
}

#skill-div {
  margin-top: 1rem;
}

li {
  text-align: left;
}

.skill-text {
  color: rgb(82, 85, 82);
}

#non-landing-button {
  position: static;
  border-radius: .5em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CONTACT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#responsive-img {
  height: 10rem;
  margin: .8rem 0;
}

#contact p {
  margin: 0 auto 1.5rem auto;
}


.logo-links {
  font-size: 5rem;
}

.logo-links i {
  color: #42adda;
}


.logo-links i:hover {
  color: #da6f42;
}


#hire-button {
  margin-bottom: 3rem;
  border-radius: .5rem;
  position: static;
}


#contact h2, #contact h3, #contact h4 {
  border-bottom: medium solid #42adda;
  color: rgb(82, 85, 82);
}


































/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Media queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media handheld and (orientation: landscape) {
  
  h1 {
    text-align: center;
  }
  
  .arrow-button {
    position: static;
    width: 250px;
    margin-top: 100px;
  }
}

@media (max-height: 450px ) {
  .arrow-button {
    position: static;
  }
}

@media (min-width: 300px) {
  .about-p {
    font-size: .7rem;

  }
}

@media (min-width: 600px) {

  h1, h2, h3, h4, h5, h6, {
  font-size: 3rem; 
  }
  
  .list h2 {
  font-size: 2rem;
  }
  
  #responsive-img {
  height: 20rem;
  }
  
  #heart {
  float:left;
  font-size: 5.5rem;
  margin: 0 .4rem 0 0;
  }
  
  .about-me {
  margin: .5rem auto 0 auto;  /* top right bottom left */ 
  background-color: rgba(229,229,229, .3);
  border-radius: .5rem;
  padding: 1rem;
}
  
  #about-intro .about-p {
    background-color: transparent;
  }
  
  .about-p {
  font-size: 1.6rem;
  }
  
  ul {
    padding: .5em 2rem;
  }
  
  ul li {
    font-size: 1.5rem  }
  
  
  h1 {
    text-align: center;
    font-size: 7rem;
  }
  
  #hire-button {
    width: 15rem;
    height: 5rem;
  }
}


@media (min-width: 1200px) {
  
  
   h1, h2, h3, h4, h5, h6, {
  font-size: 4rem; 
}
  
  #about-me {
    margin:0 auto;
  }
  
  #heart {
  font-size: 7rem;
  margin: 0 .4rem 0 0;
  }
  
  .about-p{
    font-size: 2rem;
  }

  .arrow-button {
    width: 15rem;
    height: 4rem;
    top: 70vh;
  }

  
}
