/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
NORMALIZATION AND THEMES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.layout {
  min-height: 100vh;
  position: relative;
  
}

  #about-intro, #contact {
    min-height: 60vh;
  }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
LANDING
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.landing {
  background: radial-gradient(ellipse, transparent 70%, cornflowerblue), url("me-landing.jpg"), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h1 {
  font-size: 5rem;
  padding: 2rem 0 0 .7rem;
  text-align: left;
}

.arrow-button {
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
  width: 12rem;
  margin: 5% auto;
  text-align: center; /*aligns the <p> in the button horizontal axis */
  vertical-align: middle; /*aligns the <p> in the button vertical axis */
}

.arrow-button p {
  display: inline; /* must be inline for vertical center */
  font-size: 1.2rem;
  margin: auto 0;
  
}

.arrow-button i{
  display: inline;
  margin: auto 1rem auto 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ABOUT ME
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#heart {
  font-size: 5em;
  color: cornflowerblue;
  margin: 0 .4rem 0 0;
}

#about-intro {
  margin: 2rem .4rem;
}


#about-me {
  margin: .5rem 0 0 0;  /* top right bottom left */ 
  background-color: rgba(229,229,229, .5);
  border-radius: .5rem;
  padding: 1rem;
}

.list-header {
  margin: 3rem 0 1rem 0;
  border-bottom: thick solid cornflowerblue;
  padding-bottom: .4rem;
}

ul {
  column-count: 2;
  margin: 5% .5rem;
  list-style: none;
  column-width: auto;
}

ul i {
  color: green;
  margin-right: 5%;
}

li {
  text-align: left; 
}

.skill-text {
  color: rgb(82, 85, 82);
}

.non-landing-button {
  position: static;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CONTACT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#responsive-img {
  height: 10rem;
  margin: .8rem 0;
}


.logo-links {
  font-size: 5rem;
}

#hire-button {
  margin-bottom: 3rem;
}

#contact h2, #contact h3, #contact h4 {
  border-bottom: medium solid cornflowerblue;
}


































/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Media queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media handheld and (orientation: landscape) {
  
  h1 {
    text-align: center;
  }
  
  .arrow-button {
    position: static;
    width: 250px;
    margin-top: 100px;
  }
}

@media (max-height: 450px ) {
  .arrow-button {
    position: static;
  }
}

@media (min-width: 600px) {

  #responsive-img {
  height: 20rem;
  }
  
  ul {
    padding: .5em 2rem;
  }
  
  ul li {
    font-size: 1.5rem  }
  
  
  h1 {
    text-align: center;
    font-size: 7rem;
  }
  
  #hire-button {
    width: 15rem;
    height: 5rem;
  }
}


@media (min-width: 1200px) {
  
  
  #about-me {
    margin:0 auto;
  }
  
  .about-p{
    font-size:;
  }

  .arrow-button {
    width: 15rem;
    height: 4rem;
    top: 70vh;
  }

  
}
