* {
  background: transparent;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

a, a i, button {
  -o-transition: .5s;
  -ms-transition:.5s;
  -moz-transition: .5s;
  -webkit-transition:.5s;
  transition: .5s;
}

#wrapper {
  margin: 0 auto;
}

h1 {
  padding-top: 1.5rem;
}

input, label, textarea {
  text-align: left;
}

input, textarea {
  border-radius: .5em;
}

textarea {
  height: 10rem;
}

label {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(82, 85, 82);
}

small {
  font-size: .5rem;
  margin-left: .5rem;
}

button i {
  margin-left: 1.2rem; 
}


#submit-button {
  border-radius: .5rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#heart {
  font-size: 6rem;
  color: pink;
}

#heart-div {
  margin-bottom: 1rem;
}

.logo-links {
  margin: 0 auto 4rem auto;
  border-top: thin solid black;
  padding-top: 2rem;
}

.logo-links i:hover {
  color: rgba(0, 0, 0, .7);
}


.logo-links i {
  color: #3adb76;
  font-size: 3rem;
}

a {
  display: inline;
}

@media (min-width: 800px) {
  label {
    font-size: 1.2rem;
  }
  
  small {
    font-size: .7rem;
  }
}