* {
  background: transparent;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
}

h1 {
  padding-top: 1.5rem;
}


textarea {
  border-radius: 5px;
  background-color: rgba(229,229,229, .3);
}

input, label, textarea {
  text-align: left;
}

textarea {
  height: 10rem;
}

label {
  font-size: 1rem;
  font-weight: 700;
}

small {
  font-size: .5rem;
  margin-left: .5rem;
}

button i {
  margin-left: 1.2rem; 
}


#submit-button {
  border-radius: .5rem;
  font-size: 1.5rem;
}

#heart {
  font-size: 6rem;
  color: pink;
}

#heart-div {
  margin-bottom: 1rem;
}

.logo-links {
  margin:  auto;
}

.logo-links i:hover {
  color: mediumseagreen;
}


.logo-links i {
  color: mediumseagreen;
  font-size: 3rem;
}



