<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="bg-pattern">
    <div class="center-block responsive-container">
      <header><% include partials/header %></header>
      <main>
        <header class="fw void-below">
          <img
            class="headshot center-block"
            src="/images/me_cp.png"
            alt="First Lastname"
          />
          <h1 class="color-blue center-text name">Corey Burkhart</h1>
          <h2 class="sub-heading color-grey-dark center-text">
            <small><i>JavaScript Developer</i></small>
          </h2>
        </header>
        <section id="about">
          <p class="bio color-grey-dark padded bg-white center-text">
            Tested and team oriented Javascript Developer with passion for
            robust high quality software. Identified and resolved development
            inefficiencies at Cinchapi by introducing a core library for code
            reuse in addition to championing a test driven development cycle. A
            self starter proven with the ability to efficiently and creatively
            solve problems.
          </p>
        </section>
        <section id="portfolio" class="removed">
          <h1 class="color-blue">Portfolio</h1>
          <ul>
            <li></li>
          </ul>
        </section>
      </main>
      <% include partials/footer %>
    </div>
    <% include partials/scripts %>
  </body>
</html>
