<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="bg-pattern">
    <div class="center-block responsive-container">
      <header><% include partials/nav %> <% include partials/header %></header>
      <main>
        <% include partials/about %>
        <% include partials/portfolio %>
      </main>
      <% include partials/footer %>
    </div>
    <% include partials/scripts %>
  </body>
</html>
