.sub-heading 
  font-size: 1.5rem
  margin-top: 0


.fw 
  width: 100%


.fh 
  height: 100%


.show 
    opacity: 1


.hide 
    opacity: 0


.removed 
    display: none


.center-block 
    margin: 0 auto


.center-text 
    text-align: center


.padded 
  padding: .5rem
  border-radius: 4px


.void-below 
  margin-bottom: 15vh


.rotated 
  transform-origin: center
  transform: rotateX(180deg)
  transition: all 150ms linear


.button 
  padding: 5px 10px
  margin: 0
  display: inline-block
  font-size: 16px
  font-weight: bold
  line-height: 16px
  border-radius: 5px


.hover--underline:hover:after 
  content: ''
  display: inline-block
  height: 2px
  border: none
  width: 100%
  margin: none
  background: #74b9ff
  transform: scaleX(1)
  top: 100%
  transform-origin: left
  position: absolute
  animation: slide-up 100ms ease-in
  top: 100%
  left: 0

.responsive-container

  max-width: 750px


.headshot 
  display: block
  width: 200px
  height: 200px
  border-radius: 100%
  margin-bottom: 1rem
  user-select: none
  position: relative


.name 
  margin: 0