* {
  margin: 0;
  padding: 0;
}

.collapsible li {
  min-width: 100% !important;
  &.active {
    min-width: 100% !important;
  }
}

.valign {
  width: 100%;
}

.scroll-enter {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
