@import "variables";

@mixin placeholder($color, $font-size) {

  input::-webkit-input-placeholder {
    line-height: 1.5 !important;
    color: $color;
    font-size: $font-size;
  }

  input:-moz-placeholder { /* Firefox 18- */
     color: $color;
     font-size: $font-size;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
     font-size: $font-size;
  }

  input:-ms-input-placeholder {
     color: $color;
     font-size: $font-size;
  }
}

.contact-form {
  p {
    margin-top: 1rem;
    line-height: 2.5;
  }
  .btn {
    background-color: $primary-color !important;
    font-weight: bold;
    min-width: 9em;
    box-shadow: 3px 3px 5px gray;
  }
  .btn:hover {
    box-shadow: 3px 3px 5px gray;
    background-color: lighten($primary-color, 8%) !important;
  }
  @include placeholder(gray, 1.2em);
  input {
    margin: 0 .8rem !important;
    padding: 0 !important;
    position: relative;
    top: -.65em;
    display: inline-block;
    max-width: 10rem;
  }
  input:focus {
    border-bottom-color: $primary-color !important;
  }
}

@media (min-width: 600px) {
  .contact-form {
  input {
    max-width: 11rem;
    }
  }
}

// large
@media (min-width: 992px) {
  .contact-form {
  input {
    max-width: 18rem;
    }
  }
}

@media handheld and (orientation: landscape) {
.contact-form {
  input {
    max-width: 13rem;
  }
}
}
