@import "variables";

.fa-github:hover, .fa-codepen:hover, .fa-linkedin:hover {
  transition: color .3s;
  color: white;
  cursor: pointer;
}

.links {
  color: $secondary-color;
  font-size: 6em;
}

@media (min-width: 600px) {
  .links {
    font-size: 6em;
  }
}

// large
@media (min-width: 992px) {
  .links {
    font-size: 7em;
  }
}
