$font-text: (
  null: 1.2rem,
  480px: 1.3rem,
  600px: 1.4rem,
  1024px: 1.5rem
  );

$font-heading: (
  null: 1.6rem,
  480px: 1.8rem,
  600px: 2rem,
  1024px: 2.1rem,
  1200px: 2.3rem,
  1400px: 2.4rem
);

$font-quote: (
  null: 1.3rem,
  480px: 1.5rem,
  600px: 1.7rem,
  1024px: 1.9rem
);

@mixin font-size($font-map, $scalar) {
  @each $fs-break, $fs-size in $font-map {
    @if $fs-break == null {
      @if $scalar != null {
        font-size: $fs-size * $scalar;
      } @else {
        font-size: $fs-size;
      }
    }
    @else {
      @if $scalar != null {
        @media screen and (min-width: $fs-break) {
          font-size: $fs-size * $scalar;
        }
      } @else {
        @media screen and (min-width: $fs-break) {
          font-size: $fs-size;
        }
      }
    }
  }
}

$icon-sm: 3rem;
$icon-md: 5rem;
$icon-lg: 7rem;
$icon-xl: 9rem;

//main colors

$primary-color: rgba(52, 152, 219,1.0);
$secondary-color: lighten(rgb(52,219,119), 25%);
$text-color: #666;
