$font-large: 2rem;



//colors

$envelope-color: black;
$phone-color: black;
$marker-color: black;

//main colors

$primary-color: rgba(52, 152, 219,1.0);
$secondary-color: lighten(rgb(52,219,119), 25%);
$secondary-color-contrast: $secondary-color;
